/* Fix radio button alignment */
.user-settings-theme-content {
    .user-settings__radio-group-inline {
        display: flex;
        align-items: center;
        
        .radio {
            margin-top: 0;
            margin-right: 15px;
            
            input[type='radio'] {
                margin-top: 2px;
                vertical-align: middle;
            }
            
            label {
                display: flex;
                align-items: center;
            }
        }
    }
}